doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li.
          BANGER & CO
        li
          a(href='/') Home
    block content
