extends layout

block content
  main
    h1= title
    h3 Booking Succesful
    p.
      Feel free to book again
    p.
      You will need to bring on the day a photocard driving licence and 1 other form of identity from either a recent utility bill (within 3 months) or council tax statement.

  
